<div class="bookCard">
  <p><span class="bold">Title:</span> <%= book.bookTitle %></p>
  <p><span class="bold">Author:</span> <%= book.bookAuthor %></p>
  <p><span class="bold">Genre:</span> <%= book.bookGenre %></p>
  <p><span class="bold">Publisher:</span> <%= book.bookPublisher %></p>
  <a href="/books/<%= book.bookId %>">View book</a>
</div>
