<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/editBook.css" />
  </head>
  <body>
    <%- include('./components/header') %>
    <main>
      <h1>Edit book</h1>
      <% if (errors.length !== 0) {%>
      <div class="formErrors">
        <h2>Issues with form submission:</h2>
        <ul>
          <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
          <% }); %>
        </ul>
      </div>
      <% } %>
      <form action="/books/<%= bookId %>/edit" method="POST">
        <label for="bookTitle">Book title (required): </label>
        <input
          type="text"
          name="bookTitle"
          id="bookTitle"
          maxlength="255"
          placeholder="A Game of Thrones"
          value="<%= bookData ? bookData.bookTitle : '' %>"
          required
        />

        <label for="authorFirstName">Author first name (required): </label>
        <input
          type="text"
          name="authorFirstName"
          id="authorFirstName"
          maxlength="255"
          placeholder="George R.R."
          value="<%= bookData ? bookData.authorFirstName : '' %>"
          required
        />

        <label for="authorLastName">Author last name (required): </label>
        <input
          type="text"
          name="authorLastName"
          id="authorLastName"
          maxlength="255"
          placeholder="Martin"
          value="<%= bookData ? bookData.authorLastName : '' %>"
          required
        />

        <label for="bookGenre">Genre (required): </label>
        <input
          type="text"
          name="bookGenre"
          id="bookGenre"
          maxlength="255"
          value="<%= bookData ? bookData.bookGenre : '' %>"
          required
        />

        <label for="bookDescription">Brief description: </label>
        <input
          type="text"
          name="bookDescription"
          id="bookDescription"
          maxlength="3000"
          placeholder="A brief description (less than 3000 characters) of the book."
          value="<%= bookData ? bookData.bookDescription : '' %>"
        />

        <label for="bookCoverImgURL">Cover image URL: </label>
        <input
          type="url"
          name="bookCoverImgURL"
          id="bookCoverImgURL"
          maxlength="2048"
          placeholder="https://example.com/cover.jpg"
          value="<%= bookData ? bookData.bookImg : '' %>"
        />

        <label for="bookPublisher">Publisher: </label>
        <input
          type="text"
          name="bookPublisher"
          id="bookPublisher"
          maxlength="255"
          placeholder="HarperCollins"
          value="<%= bookData ? bookData.bookPublisher : '' %>"
        />

        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
