<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/individualBook.css" />
  </head>
  <body>
    <%- include('./components/header') %>
    <main>
      <h1><%= book.bookTitle %></h1>
      <h2><%= book.bookAuthor %></h2>
      <img src="<%= book.bookImg %>" alt="Cover of <%= book.bookImg %>" />
      <p><span class="bold">Genre:</span> <%= book.bookGenre %></p>
      <p><span class="bold">Publisher:</span> <%= book.bookPublisher %></p>
      <p><span class="bold">Description:</span> <%= book.bookDescription %></p>
      <form
        action="/books/<%= book.bookId %>/delete"
        method="post"
        onsubmit="return confirm('Are you sure you want to delete this book?');"
      >
        <button type="submit">Delete book</button>
      </form>
      <a href="/">Return to homepage</a>
    </main>
  </body>
</html>
